{{>nav}}
<section>
	<h1>{{this.article.title}}</h1>
	<img src="{{this.article.image}}" width="620px" height="349px">
	</div>
	<h2>Comments</h2> 
	<div>
	<form id="comment-form" action="/articles/{{this.article._id}}" method="post"> 
	  <input type="text" id="comment-name" name="name" placeholder="Name">
	  <br>
	  <textarea rows="5" id="comment-body" name="body" placeholder="Make a Comment!"></textarea>
	  <br>
	  <input type="submit" data-id="{{this.article._id}}" id="submit-comment" value="Submit" class="whitewashed blue-button">
	</form>
	<div id="comment-div">
		{{this.article.comment}}
	</div>
</section>